.nav {
  color: grey;
  margin-left: 2px;
  padding-left: 10px;
  grid-area: nav;
  background-color: rgb(197, 243, 196);
  border-radius: 10px;
}

.active {
  border-color: grey;
  font-style: unset;
  color: rgb(38, 0, 255);
}
