.nav {
  color: grey;
  margin-left: 2px;
  padding-left: 10px;
  grid-area: nav;
  background-color: rgb(197, 243, 196);
  border-radius: 10px;
  text-decoration: none;
}

.navLink {
  color: white;
  font-style: unset;
}
.active {
  font-style: unset;
  color: grey;
}
